.animation{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.simulatorBg{
    width: 100vw;
    height: 100vh;
}

.paper-plane{
    height: 5vh;
    width: 5vw;
    background-image: url('../../assets/images/PaperPlane.svg');
    background-repeat: no-repeat;
    top: 50%;
    position: absolute;
    cursor: pointer;
}

.paper-plane.left{
    transform: rotateX(40deg) rotateZ(70deg) rotate(-50deg);
}
.paper-plane.right{
    transform: scaleX(-1) rotateY(40deg) rotateZ(70deg) rotate(-45deg);
}

.paper-plane.active{
    background-image: url('../../assets/images/PaperPlane2.svg');
}